body {
    font-family: 'Manrope', sans-serif;
    background: #eff1f7;
}
.content {
    grid-area: content;
    /*background: url(images/Group\ 4.png);*/
}

.sidebar {
    grid-area: sidebar;
    background: linear-gradient(to right,
    rgba(249, 107, 142,1),
    rgba(218, 103, 230, 1),
    rgba(130, 125, 253, 1));
    justify-content: center;
}
.footer {
    grid-area: footer;
    background: white;
}
.container {
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "sidebar"
    "content"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 130px 800px 250px;
}
.content,
.sidebar,
.footer{
    padding: 1em;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
nav li {
    list-style: none;
    padding: 1em 0.2em;
    }
nav li a {
    color: white;
    font-weight: 700;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.3s;
}
nav li a:hover {
    opacity: 1;
}
.hero{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}
.hero img{
    width: 250px;
}
.hero h1 {
    font-size: 2em;
    font-weight: 300;
    color: #373d46;
}
.hero h2 {
    font-size: 1.8em;
    font-weight: 300;
    color: #373d46;
}
.hero p {
    font-weight: 300;
    line-height: 1.8em;
    color: #7b818b;
}
.action-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    background: #867bfb;
    padding: 0.5em 2em;
    border-radius: 40px;
    margin: 1em 0;
    transition: 0.3s;
    position: relative;
}

.action-btn:hover{
    box-shadow: 0 10px 50px rgba(188,197,216,1);
}

.email-me{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul {
    max-width: 640px;
    margin: 2em auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
}

footer ul li {
    list-style: none;
    align-self: flex-end;   
}

footer ul li a {
    text-decoration: none;
    color: #c1c6ce;
}
svg {
    width: 40%;
}
footer p {
    font-size: 0.8em;
}
.hero-content ul li svg {
    width: 10%;
    padding-right: 0.5em;
}
.hero-content ul li {
    list-style: none;
    margin-bottom: 1.2em;
}

.project-content {
    display: flex;
    flex-direction: row;
    max-width: 65em;
    margin: 0 auto;
    justify-content: center; 
    flex-wrap: wrap;
}



.project{
padding: 1em;
}

#aboutmepic {
    width: 65%;
    border-radius: 15px;
    box-shadow: 0 10px 50px rgba(188,197,216,1);
}

#questfest-thumbnail{

    border-radius: 15px;
    border-style: solid;
    border-color: rgba(130, 125, 253, 1);
    float: left;
}
#questfest-thumbnail:hover {
    box-shadow: 0 10px 50px rgba(188,197,216,1)
}
.content-project p {
    text-align: center;
    margin-top: 2em;
    font-weight: 800;
}
.content-project p a {
    text-decoration: none;
}

.project img{
    margin: 0;
    padding: 0;
    width: 80%;
}


.green {
    background-color: #F5FFFB;
}

@media (min-width: 1040px) {
    .container{
        grid-template-areas: 
        "sidebar content"
        "sidebar footer";
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr auto;
    }
    nav ul{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .sidebar{
        background: linear-gradient(
         rgba(249, 107, 142,1),
         rgba(218, 103, 230, 1),
         rgba(130, 125, 253, 1));  
         padding-top: 3em; 
    }
    .hero{
        text-align: left;
        margin: 2em auto;
    }
    .hero img {
        width: 350px;
    }
    .hero h1{
        font-size: 3em;
    }
    .hero p{
        width: 60%;
    }
    footer ul{
        max-width: 960px;
        margin: 0 auto;
        padding: 2em 0;
    }
    svg {
        width: 20%;
    }
    #aboutmepic {
        width: 40%;
        border-radius: 15px;
        box-shadow: 0 10px 50px rgba(188,197,216,1);
        padding-left: 0.25em;
    }
}